[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
saspy = "*"
pandas = "*"
sas-cli = {editable = true, path = "."}
pre-commit = "*"

[dev-packages]
black = "*"
pytest = "*"
flake8 = "*"

[requires]
python_version = "3.10"
